:root {
  --color-black: hsl(30deg 3% 12%);
  --color-gray-dark: rgba(255, 255, 255, 0.35);
  --color-gray-light: rgba(255, 255, 255, 0.55);
  --color-yellow: #f5d402;
  --color-orange: #f59402;
  --color-brown: #975b02;
  --color-white: #fefefe;
}

.color-yellow {
  color: var(--color-yellow);
}
