@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NotoSansTC-Medium.otf') format('opentype');
}
