body {
  font-family: 'NotoSans', Arial, sans-serif;
  color: var(--color-white);
}

a {
  border-bottom: 0;
  color: var(--color-yellow);
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-orange);
  }
}

body,
#sidebar {
  background-color: var(--color-black);
  font-family: 'NotoSans', Arial, sans-serif;
}

body,
input,
select,
textarea {
  font-family: 'NotoSans', Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card {
  color: var(--color-gray-light);
  background: rgba(255, 255, 255, 0.15);
}

.action-button {
  display: block;
  background-image: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: var(--color-yellow);
  border-color: var(--color-orange);
  border-width: 1px;
  border-style: solid;

  &:hover {
    color: white;
    border-color: white;
    background-image: linear-gradient(to right, var(--color-orange), var(--color-yellow));
  }
}
