<!DOCTYPE html>
<html lang="de">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= htmlWebpackPlugin.options.favicon %>"
    />
    <%= require('html-loader!./layout/head.html').default %>
  </head>

  <body>
    <%= require('html-loader!./home/sidebar.html').default %>

    <div id="wrapper">
      <%= require('html-loader!./home/willkommen.html').default %> <%=
      require('html-loader!./home/unsere-musik.html').default %> <%=
      require('html-loader!./home/das-sind-wir.html').default %> <%=
      require('html-loader!./home/action.html').default %> <%=
      require('html-loader!./home/kontakt.html').default %> <%=
      require('html-loader!./home/huehnchen-slider.html').default %>
    </div>
  </body>
</html>
