<!DOCTYPE html>
<html lang="de">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= htmlWebpackPlugin.options.favicon %>"
    />
    <%= require('html-loader!./layout/head.html').default %>
  </head>

  <body class="is-preload">
    <section id="sidebar">
      <%= require('html-loader!./home/sidebar.html').default %>
    </section>

    <div id="wrapper">
      <section id="willkommen" class="wrapper fade-up">
        <%= require('html-loader!./home/willkommen.html').default %>
      </section>

      <section id="unsere-musik" class="wrapper fade-up">
        <%= require('html-loader!./home/unsere-musik.html').default %>
      </section>

      <section id="das-sind-wir" class="wrapper fade-up mb-4">
        <%= require('html-loader!./home/das-sind-wir.html').default %>
      </section>

      <section id="action" class="wrapper fade-up mb-4">
        <%= require('html-loader!./home/action.html').default %>
      </section>

      <section id="kontakt" class="wrapper fade-up mb-4">
        <%= require('html-loader!./home/kontakt.html').default %>
      </section>

      <section id="huehnchen-slider" class="wrapper fade-up mb-4">
        <%= require('html-loader!./home/huehnchen-slider.html').default %>
      </section>
    </div>

    <%= require('html-loader!./layout/footer.html').default %>
  </body>
</html>
