<!DOCTYPE html>
<html lang="de">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= htmlWebpackPlugin.options.favicon %>"
    />
    <%= require('html-loader!./layout/head.html').default %>
  </head>

  <body>
    <div class="ce_text first block">
      <h1>Impressum</h1>
      <h2>Angaben gemäß § 5 TMG</h2>
      <p>Peter Guntermann<br />Haydnstraße 6<br />76356 Weingarten</p>
      <h2>Kontakt</h2>
      <p>Telefon: +49 (0) 162 9804078<br />E-Mail: info@chickendinnerband.de</p>
      <h2>Redaktionell verantwortlich</h2>
      <p>Peter Guntermann<br />Haydnstraße 6<br />76356 Weingarten</p>
      <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>

    <p><a href="javascript:history.back()">&lt;&lt; zurück</a></p>

    <%= require('html-loader!./layout/footer.html').default %>
  </body>
</html>
