<!DOCTYPE html>
<html lang="de">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= htmlWebpackPlugin.options.favicon %>"
    />
  </head>

  <body>
    <div class="container">
      <h1>Chicken Dinner Website</h1>
    </div>
  </body>
</html>
