// TODO: Font lokal hosten
// @import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,900&family=Roboto+Slab&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/////////////////
//  CONSTANTS  //
/////////////////

/**
 *  Responsive breakpoints
 */
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extralarge: 1200px;

/**
 *  Colors
 */
$primary-color: hsl(0, 0%, 50%);
$primary-color-contrast: hsl(0, 0%, 100%);
$link-color: $primary-color;
$link-color-hover: hsl(0, 0%, 30%);

:root {
  --primary-color: hsl(0, 0%, 50%);
  --primary-color-contrast: hsl(0, 0%, 100%);
  --link-color: var(--primary-color);
  --link-color-hover: hsl(0, 0%, 30%);
}

// 1. Versuch für ein Theming
// https://colorschemedesigner.com/csd-3.5/
// Parameter: Analogic, Hue 60°, Angle 30°
$color-center: hsl(40, 100%, 50%);
$color-right: hsl(50, 100%, 50%);
$color-left: hsl(27, 100%, 50%);

//////////////////////
//  GENRAL STYLING  //
//////////////////////

/*
Fonts:
- Arial: NOPE
- Courier: NOPE
- Zen Kurenaido: recht stylisch, aber ziemlich dünn
- BenchNine: NOPE, viel zu dünn

Könnte funktionieren:
- Alegreya für Texte und Shojumaru für Headlines
*/
body {
  font-size: 20px;
  font-family: "Alegreya Sans", sans-serif;

  h1,
  h2,
  h3,
  .band-name,
  #chidi-logo {
    font-family: "Shojumaru", cursive;
  }

  &.font-1 {
    font-family: "Zen Kurenaido", sans-serif;
  }

  &.font-2 {
    font-family: "Alegreya Sans", sans-serif;
  }

  &.font-3 {
    font-family: "Courier New", Courier, monospace;
  }

  &.font-4 {
    font-family: "Alegreya Sans", sans-serif;
  }

  &.font-5 {
    font-family: "Shojumaru", cursive;
  }

  &.font-6 {
    font-family: "Spicy Rice", cursive;
  }

  &.font-7 {
    font-family: "BenchNine", sans-serif;
  }
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

a {
  transition: color 0.3s, background-color 0.3s;
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
    text-decoration: none;
  }
}

#container {
  min-height: 200px;
}

.ce_form {
  margin-bottom: 2rem;
  background: hsl(0deg, 0%, 90%);
  padding: 1rem 2rem;
  border-radius: 1rem;

  .formbody {
    display: flex;
    flex-wrap: wrap;

    .widget {
      width: 100%;
      margin-bottom: 0.5rem;

      label {
        display: block;
        margin-bottom: 0;
        font-size: 0.875rem;
      }

      input,
      textarea {
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid hsl(0deg, 0%, 50%);
        padding: 0.5rem;
      }

      &.field-name {
        @media (min-width: $breakpoint-large) {
          width: 50%;
          padding-right: 1rem;
        }
      }

      &.field-email {
        @media (min-width: $breakpoint-large) {
          width: 50%;
        }
      }

      [type="submit"] {
        padding: 0.5rem 4rem;
        border-radius: 0.5rem;
        border: 2px solid var(--primary-color);
        background: var(--primary-color-contrast);
        color: var(--primary-color);
        transition: color 0.3s, background-color 0.3s;

        &:hover {
          background: var(--primary-color);
          color: var(--primary-color-contrast);
        }
      }
    }
  }
}

/**
  Header
*/
#chidi-logo {
  display: flex;
  justify-content: space-between;

  img {
    display: block;

    @media (min-width: $breakpoint-small) {
      display: none;
    }

    @media (min-width: $breakpoint-large) {
      display: block;
    }
  }

  .text {
    display: none;

    @media (min-width: $breakpoint-small) {
      display: block;
    }

    font-weight: bold;
    text-align: center;
    margin: auto 0;
    transform: scale(0.8);
    color: #212529;

    div:first-of-type {
      font-size: 3rem;
      line-height: 3rem;
    }

    div:last-of-type {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
}

#header {
  .inside {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    @media (min-width: $breakpoint-small) {
      display: block;
    }
  }

  .warning-sign {
    margin-right: 1rem;

    figure.image_container {
      width: 8rem;
      display: flex;
      justify-content: center;
    }
  }

  .band-name {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
  }
}

#desktop-menu {
  display: none;

  @media (min-width: $breakpoint-small) {
    display: flex;
    align-items: center;
  }

  & > * {
    display: flex;
    justify-content: center;
  }

  ul.level_1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li {
      margin: 0 0.5rem;
    }
  }

  strong,
  a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: none;
  }
}

#mobile-menu {
  //
}

#mobile_button {
  font-size: 3rem;
}

#mobile_button_container {
  display: block;

  @media (min-width: $breakpoint-small) {
    display: none;
  }
}

/**
  Footer
*/

#footer {
  //border-top: 2px solid $color-left;
  background: #eeeeee;

  a {
    color: var(--primary-color-contrast);

    &:hover {
      color: var(--link-color-hover);
    }
  }

  .inside {
    background: var(--primary-color);
    color: var(--primary-color-contrast);
    // background: hsl(50, 100%, 25%);
    padding: 1rem;
  }
}

/**
  Generic Elements
*/
.banner {
  background: hsl(0deg, 0%, 90%);
  // background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.triple {
  background: hsl(0deg, 0%, 90%);
  text-align: center;
}

/**
  Page "Home"
*/

:root {
  --home-nav-img-width: 14rem;
  --home-nav-img-height: 14rem;
}

#home-nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#home-nav a {
  margin: 0 0.5rem;
}

#home-nav a figure {
  margin: 0;
  width: var(--home-nav-img-width);
  height: var(--home-nav-img-height);
}
#home-nav a:nth-of-type(1) figure {
  background: #912387;
}
#home-nav a:nth-of-type(2) figure {
  background: #123879;
}
#home-nav a:nth-of-type(3) figure {
  background: #238791;
}
#home-nav a:nth-of-type(4) figure {
  background: #387912;
}

#home-nav a span {
  background: #783219;
  display: block;
  padding: 1rem;
  text-align: center;
}

#content {
  min-height: 50vh;
}

#content .container .row > div {
  padding: 0 0.5rem 1rem;
}

#content .container .row > div > div {
  padding: 1rem;
  background: #dddddd;
}

/**
  Slider
*/

:root {
  // --slider-height: 300px;
  --slider-height: 450px;
}

.slick-list {
  height: var(--slider-height);
}

.slide {
  height: var(--slider-height);
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.slide-0 {
  background: #ff8000;
}

.slide-1 {
  background: #8000ff;
}

.slide-2 {
  background: #00ff80;
}
